_common.crc
_common.resources
_ordered.crc
_ordered.resources
_sound_pc.crc
_sound_pc.resources
_sound_pc_en.crc
_sound_pc_en.resources
_sound_pc_fr.crc
_sound_pc_gr.crc
_sound_pc_it.crc
_sound_pc_jp.crc
_sound_pc_sp.crc
autoexec.cfg
classicmusic/
joy_360_0.cfg
joy_360_1.cfg
joy_lefty.cfg
joy_righty.cfg
maps/
sound/
strings/
video/
wads/
